<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
<appSettings>
  <add key="url" value="https://search.jd.com/Search?keyword=%E6%89%8B%E6%9C%BA&amp;enc=utf-8&amp;pvid=c000d06501554fab9eb2017619927347"/>
  <add key="proxyServerIP" value=""/>
  <add key="proxyServerPort" value=""/>
</appSettings>
</configuration>
